{% extends 'base.html' %}
{% load thumbnail %}
{% load cache %}
  {% block title %}
    Подписки
  {% endblock %}
  {% block page_top %}
    <div class="container py-5">
      <h1>Последние обновления авторов</h1>
    </div>
  {% endblock %}
  {% block content %}
  {% include 'posts/includes/switcher.html' %}
    <div class="container py-1">   
        {% for post in page_obj %}
        {% include 'posts/includes/postcard.html' %}
          {% if not forloop.last %}
            <hr>
          {% endif %}
        {% endfor %}
      {% include 'posts/includes/paginator.html' %} 
    </div>     
  {% endblock content %}